.App-Button {
  border: none;
  outline: none;
  background-color: var(--button-default);
  font-family: var(--ui-font-family);
  font-size: var(--ui-font-size-md);
  line-height: calc(var(--ui-font-size-md) + 8px);
  font-weight: 500;
  color: var(--color-global-white);
  padding: var(--space-squish-xxxsm);
  margin-top: 20px;
  cursor: pointer;
  transition: var(--ui-transition);
  width: 100%;

  &:hover,
  &:focus {
    background-color: var(--color-purple-300);
  }

  &--cancel {
    background-color: var(--button-cancel-bg);

    &:hover {
      background-color: lighten(grey, 5%);
    }
  }

  &--danger {
    background-color: var(--color-red-100);

    &:hover {
      background-color: darken(red, 15%);
    }
  }

  &--small {
    font-size: var(--ui-font-size-sm);
  }
}
