.App-Button {
  border: none;
  outline: none;
  background-color: var(--button-default);
  font-family: var(--ui-font-family);
  font-size: var(--ui-font-size-md);
  line-height: calc(var(--ui-font-size-md) + 8px);
  font-weight: 500;
  color: var(--color-global-white);
  padding: var(--space-squish-xxxsm);
  margin-top: 20px;
  cursor: pointer;
  transition: var(--ui-transition);
  width: 100%;

  &:hover,
  &:focus {
    background-color: var(--color-purple-300);
  }
}
