@import "reset";
@import "fonts";
@import "variables";

$bodyBg: "bodyBg";
$card-bg: "card-bg";
$text: "text";
$text-secondary: "text-secondary";
$link: "link";
$hover: "hover";
$logo: "logo";
$brand-blue: "brand-blue";
$brand-red: "brand-red";
$border: "border";

$themes: (
  default: (
    bodyBg: #ffffff,
    text: #202020
  ),
  dark: (
    bodyBg: #202020,
    text: #f4f4f4
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}

#root > div {
  height: 100%;
}

body,
.App {
  margin: 0;
  background-color: var(--color-grey-500);
  font-family: var(--ui-font-family);
  color: var(--color-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--color-purple);
  transition: var(--ui-transition);

  &:hover {
    color: var(--color-purple-100);
  }
}

.App {
  flex-direction: column;

  @include themed() {
    background: t($bodyBg);
  }

  transition: 0.2s;
}
