.App-Content {
  background-color: var(--content-background);
  border: 1px solid var(--content-border);
  box-shadow: var(--content-shadow);
  padding: var(--space-squish-sm);
  min-width: 290px;
  margin: var(--space-md) 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: var(--ui-transition);

  @media (min-width: 768px) {
    width: 526px;
  }
}
