.ListContacts {
  ul {
    background-color: var(--content-background);
    border: var(--content-border);
    box-shadow: var(--content-shadow);

    li {
      display: grid;
      grid-template-columns: 106px 1fr 48px;
      grid-template-rows: 106px;
      grid-column-gap: var(--space-xsm);
      padding: var(--space-md);
      align-items: center;
      position: relative;

      &:not(:last-child) {
        border-bottom: 1px solid var(--content-border);
      }
    }
  }

  &__avatar {
    background-color: var(--app-background);
    width: 100%;
    height: 100%;
  }

  &__infos {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;

    h2 {
      font-size: var(--ui-font-size-md);
      font-weight: 500;
      color: var(--contact-title-color);
    }

    p {
      color: var(--contact-text-color);
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    > span {
      cursor: pointer;
    }
  }

  &__delete {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--contact-delete-content-bg);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: var(--space-md);

    p {
      color: var(--text-body-color-secondary);
      text-align: center;
      font-size: var(--ui-font-size-sm);
    }

    > div {
      display: flex;
      justify-content: space-evenly;

      button {
        &:not(last-child) {
          margin-right: var(--space-xxxsm);
        }
        &:not(first-child) {
          margin-left: var(--space-xxxsm);
        }
      }
    }
  }
}
